@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.5%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.5%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.5%);
  --primary: hsl(0 0% 20.5%);
  --primary-foreground: hsl(0 0% 98.5%);
  --secondary: hsl(0 0% 97%);
  --secondary-foreground: hsl(0 0% 20.5%);
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(0 0% 55.6%);
  --accent: hsl(0 0% 97%);
  --accent-foreground: hsl(0 0% 20.5%);
  --destructive: hsl(27.3 82.9% 53.6%);
  --border: hsl(0 0% 92.2%);
  --input: hsl(0 0% 92.2%);
  --ring: hsl(0 0% 70.8%);
  --chart-1: hsl(41.1 78.3% 59.9%);
  --chart-2: hsl(184.7 44.4% 54.1%);
  --chart-3: hsl(227.4 33.3% 39.8%);
  --chart-4: hsl(84.4 71.4% 78.8%);
  --chart-5: hsl(70.1 66.7% 72.4%);
  --sidebar: hsl(0 0% 98.5%);
  --sidebar-foreground: hsl(0 0% 14.5%);
  --sidebar-primary: hsl(0 0% 20.5%);
  --sidebar-primary-foreground: hsl(0 0% 98.5%);
  --sidebar-accent: hsl(0 0% 97%);
  --sidebar-accent-foreground: hsl(0 0% 20.5%);
  --sidebar-border: hsl(0 0% 92.2%);
  --sidebar-ring: hsl(0 0% 70.8%);
}

.dark {
  --background: hsl(0 0% 14.5%);
  --foreground: hsl(0 0% 98.5%);
  --card: hsl(0 0% 20.5%);
  --card-foreground: hsl(0 0% 98.5%);
  --popover: hsl(0 0% 20.5%);
  --popover-foreground: hsl(0 0% 98.5%);
  --primary: hsl(0 0% 92.2%);
  --primary-foreground: hsl(0 0% 20.5%);
  --secondary: hsl(0 0% 26.9%);
  --secondary-foreground: hsl(0 0% 98.5%);
  --muted: hsl(0 0% 26.9%);
  --muted-foreground: hsl(0 0% 70.8%);
  --accent: hsl(0 0% 26.9%);
  --accent-foreground: hsl(0 0% 98.5%);
  --destructive: hsl(22.2 69.1% 65.9%);
  --border: hsl(0 0% 100% / 0.1);
  --input: hsl(0 0% 100% / 0.15);
  --ring: hsl(0 0% 55.6%);
  --chart-1: hsl(264.4 79.8% 48.8%);
  --chart-2: hsl(162.5 58.8% 65.1%);
  --chart-3: hsl(70.1 66.7% 72.4%);
  --chart-4: hsl(303.9 83.3% 58.6%);
  --chart-5: hsl(16.4 80.3% 59.8%);
  --sidebar: hsl(0 0% 20.5%);
  --sidebar-foreground: hsl(0 0% 98.5%);
  --sidebar-primary: hsl(264.4 79.8% 48.8%);
  --sidebar-primary-foreground: hsl(0 0% 98.5%);
  --sidebar-accent: hsl(0 0% 26.9%);
  --sidebar-accent-foreground: hsl(0 0% 98.5%);
  --sidebar-border: hsl(0 0% 100% / 0.1);
  --sidebar-ring: hsl(0 0% 55.6%);
}